# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Bb]uild_WebCamKit/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Assets/uOSC/
/Assets/uOSC.meta
/Assets/EVMC4U/
/Assets/EVMC4U.meta
/Assets/UniGLTF/
/Assets/UniGLTF.meta
/Assets/VRM/
/Assets/VRM.meta
/Assets/VRM10/
/Assets/VRM10.meta
/Assets/VRMShaders/
/Assets/VRMShaders.meta
/Assets/ExternalReceiver.unity
/Assets/ExternalReceiver.unity.meta
/Assets/StandaloneFileBrowser/
/Assets/StandaloneFileBrowser.meta
/Assets/SakuraShop_tbb/VRM_CC0/HairSample_Male.*/
/Assets/SakuraShop_tbb/VRM_CC0/HairSample_Male.[^v]*.meta
/Assets/TextMesh Pro/
/Assets/TextMesh Pro.meta
/Packages/com.github.homuler.mediapipe/

/Assets/VRigUnity/*
!/Assets/VRigUnity
!/Assets/VRigUnity.meta

!/Assets/VRigUnity/Prefabs
!/Assets/VRigUnity/Prefabs.meta
/Assets/VRigUnity/Prefabs/*
!/Assets/VRigUnity/Prefabs/Orbital Control.prefab
!/Assets/VRigUnity/Prefabs/Orbital Control.prefab.meta

!/Assets/VRigUnity/Scripts
!/Assets/VRigUnity/Scripts.meta
/Assets/VRigUnity/Scripts/*

!/Assets/VRigUnity/Scripts/Debugging
!/Assets/VRigUnity/Scripts/Debugging.meta
/Assets/VRigUnity/Scripts/Debugging/*

!/Assets/VRigUnity/Scripts/SceneModel
!/Assets/VRigUnity/Scripts/SceneModel.meta
/Assets/VRigUnity/Scripts/SceneModel/*

!/Assets/VRigUnity/Scripts/UI
!/Assets/VRigUnity/Scripts/UI.meta
/Assets/VRigUnity/Scripts/UI/*

!/Assets/VRigUnity/Scripts/Debugging/Thread
!/Assets/VRigUnity/Scripts/Debugging/Thread/*
!/Assets/VRigUnity/Scripts/Debugging/Thread.meta

!/Assets/VRigUnity/Scripts/SceneModel
!/Assets/VRigUnity/Scripts/SceneModel.meta
/Assets/VRigUnity/Scripts/SceneModel/*

!/Assets/VRigUnity/Scripts/SceneModel/Movement
!/Assets/VRigUnity/Scripts/SceneModel/Movement.meta
/Assets/VRigUnity/Scripts/SceneModel/Movement/*

!/Assets/VRigUnity/Scripts/SceneModel/Movement/MovementUtils.cs
!/Assets/VRigUnity/Scripts/SceneModel/Movement/MovementUtils.cs.meta

!/Assets/VRigUnity/Scripts/UI/Modifiers
!/Assets/VRigUnity/Scripts/UI/Modifiers.meta
/Assets/VRigUnity/Scripts/UI/Modifiers/*
!/Assets/VRigUnity/Scripts/UI/Modifiers/OrbitalCamera.cs
!/Assets/VRigUnity/Scripts/UI/Modifiers/OrbitalCamera.cs.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
